*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.escena1, .escena2, .escena3, .escena4 {
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d0b169;
}

.cabeceraJugador, .cabeceraMercado, .cabeceraEnemigos, .cabeceraBatallas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #d0b169;
}

.cabeceraFinal{
  text-align: center;
  background-color: #d0b169;
  padding: 20px;
}

.imgJugador img {
    width: 120px;
    height: auto;
}

.nombreJugador {
    font-size: 18px;
    font-weight: bold;
}

.caracteristicas {
    background-color: #604214;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    flex-grow: 1;
    justify-items: center;
    align-items: center;
}

.ataque, .defensa, .vida, .puntos {
    background-color: #d0b169;
    padding: 40px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.boton{
    background-color: #604214;
}

#botonContinuar, .btnCompra, .btnBatalla, #botonContinuarEscena4 {
    margin: 20px auto;
    display: block;
    background-color: yellow;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

#botonContinuar:hover, 
.btnCompra:hover, 
.btnBatalla:hover, 
#botonContinuarEscena4:hover,
#botonReiniciarJuego:hover {
    background-color: gold;      
    transform: scale(1.05);     
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.contenedorBtnCompra, .contenedorBtnBatalla{
  background-color: #d0b169;
}
/*Escena2*/

.contenedor-productos, .contenedor-enemigos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 60px;
    background-color: #604214;
    text-align: center;

}

.producto{
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  text-align: center;
      transition: transform 0.2s ease; 

}

.producto:hover {
  cursor: pointer;
    transform: scale(1.1); 
}

.producto.seleccionado {
  background: orange;
}

.producto img {
    width: 70px;        
    height: 80px;       
    object-fit: cover;   
    display: block;
    margin: 0 auto 12px; 
    padding-top: 3px;
}


.producto p {
  margin: 0 0 8px;
  font-size: 16px;
  text-align: center;
}

.producto button {
  background: #eafc4d;
  border: none;
  padding: 6px 18px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 6px;
}

.contenedor-carrito {
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 80px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
    
}

.imagencarrito{
        transition: transform 0.2s ease;

}

.imagencarrito:hover {
    transform: scale(1.1); 
}

.contenedor-carrito img {
    width: 60px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}


/*Escena3*/


/*Escena4*/
.tarjetaEnemigo {
  background: white;
  border-radius: 12px;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.tarjetaEnemigo:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  transform: scale(1.03);
}

.imgEnemigo img {
  height: 145px;   
  width: auto;     
  object-fit: contain; 
}


/*Escena5*/

.contenedorBatalla {
  background-color: #604214; 
  padding: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: white; 
  height: 100vh;
}


.contenedorImagenesBatalla {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.imgBatalla {
  height: 200px; 
  width: auto;   
  object-fit: contain;
  border-radius: 10px;     
}



/*Escena6*/
.escena6 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #604214;
}

.contenedorFinal {
    margin:15%;
    background-color: #604214;
    text-align: center;
    color: white
}

#nivelAlcanzado{
  text-align: center;
}

 #botonReiniciarJuego {
    margin: 40px auto;
    display: block;
    background-color: yellow;
    padding: 10px 50px;
    font-weight: bold;
    cursor: pointer;
}
